html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.height {
    height: 100%;
}
.scroll {
    overflow: auto;
}

.minus-h3 {
    height: calc(100% - 56px);
}

.index table {
    table-layout: fixed;

}
.index .row-1 {
    width: calc(100% / 4);
}
.index .row-2 {
    width: calc(100% / 4);
}
.index .row-3 {
    width: calc(100% / 4);
}
.index .row-4 {
    width: calc(100% / 4);
}
