html, body {
  /*min-height: 2000px;
  padding-top: 70px;*/
  width: 100%;
  height: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
}

.topbar {
	display: inline-block;
	text-align: center;
	width: 100%;
	background-color: #eff;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
}

.mediabar {
	float: left;
	height: 100%;
	min-height: 10em;
	width: 10em;
}

.commandbar {
	float: right;
	width: 20em;
	height: 100%;
	overflow-y: scroll;
}

.commandbar #cmdlist {
	margin: 0.5em;

}

.content {
	margin-left: 10em;
	width: calc(100% - 10em - 20em);
	height: auto;
}

.content .results {
	height: 100%;
	overflow-y: scroll;
}

.content table {
	width: 100%;
	border-collapse: collapse;
}

.content table thead {
	background-color: #eee;
	border-bottom: 1px solid #444;
}

.content table td {
	padding: 0 0.5em 0 0.5em;
	border: 1px solid #ccc;
}

.content table tr:nth-child(2) td {
	background-color: #eee;
}

