<h3>Media</h3>
<div class="table-responsive minus-h3">
	<table class="table table-striped table-condensed table-hover height">
		<thead><tr>
			<th>Title</th><th>Artist</th><th>Album</th><th>Genre</th>
		</tr></thead>
		<tbody class="scroll">
			{{#each item in model}}
				<tr>
					<td class="row-1">{{item.Title}}</td>
					<td class="row-2">{{item.Artist}}</td>
					<td class="row-3">{{item.Album}}</td>
					<td class="row-4">{{item.Genre}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
