<h3>Media</h3>
<div class="table-responsive">
	<table class="table table-striped table-condensed table-hover">
		<thead><tr>
			<th>Row 1</th><th>Row 2</th><th>Row 3</th>
		</tr></thead>
		<tr>
			<td>Results</td>
			<td>go</td>
			<td>here...</td>
		</tr>
		<tr>
			<td>Results</td>
			<td>go</td>
			<td>here...</td>
		</tr>
	</table>
</div>
{{view 'list' contentBinding="controller"}}
